html {
  scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;

    box-sizing: border-box;
  }
  
  #sdiv{
      background-image: url("img_1.png");
      width: 100%;
      height:300px;
      margin-top: 10px;
  }
  #tdiv{
    background-image: url("img_2.png");
    width: 100%;
    height:300px;
    margin-top: 10px;
    
}
#jdiv{
    background-image: url("img_3.png");
    width: 100%;
    height:300px;
    margin-top: 10px;
}
#fdiv{
    background-image: url("img_4.png");
    width: 100%;
    height:300px;
    margin-top: 10px;
}

  #imgtext{
      background-color: black;
      opacity: 75%;
      width: 40%;
      height: 300px;
      font-size: 30px;
      font-style: bold;
  }
  .intext{
      color: blanchedalmond;
      text-align: center;
      padding-top: 60px;
      
  }
  .soft_font{
      color: gray;
      text-align: center;
      font-size: 14px;
  }

  .footer{
      color: gray;
      width: 100%;
      height:auto;
  }
  .f1{
      color:gray;
      margin-top: 50px;
  }

  .img_div{
      background-color: blue;
      height: auto;
      width: 100%;
  }

  .img_div>img{
      width: 100%;
      height: auto;
      
  }
  .i_t{
      
      display: none;
      background-color: coral;
      height: 100px;
      width: 100%;
  }
  .i_t:active{
      display:inline;
  }
 
  @import url(https://fonts.googleapis.com/css?family=Raleway);

  *, *:before, *:after{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
  }
  
  body{
    background: #f9f9f9;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
  }
  
  .main-title{
    color: #2d2d2d;
    text-align: center;
    text-transform: capitalize;
    padding: 0.7em 0;
  }
  
  .container{
    padding: 1em 0;
    float: left;
    width: 100%;
    
  }
  
  
  .container .title{
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
  }
  
  .content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .content:hover .content-overlay{
    opacity: 1;
  }
  
  .content-image{
    width: 100%;
    height: 396.48px;
  }
  
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
  .content-details h3{
    color: #fff;
    font-size: 22px;
    letter-spacing: 0.08em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  
  .content-details p{
    color: #fff;
    font-size: 1em;
  }
  
  .fadeIn-bottom{
    top: 80%;
  }
  
  .fadeIn-top{
    top: 20%;
  }
  
  .fadeIn-left{
    left: 20%;
  }
  
  .fadeIn-right{
    left: 80%;
  }



  .cont{
    height: 100vh;
    font-family:fantasy;
    color: white;
    text-align: center;
    background-color: black;
  }
  .background{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 30%;
  }
 
  
  @media(max-width:411px){
    .cont h4{
      margin-top: 20px;
      opacity: 70%;
    }
    .cont-2 h1{
      padding-top: 10vh;
     }
     .cont-1 h1{
       padding-top: 35vh;
     }
     .cont-3 h1{
       padding-top: 55vh;
     }
     .cont-4 img{
      background-color: black;
      position: relative;
      width: 30vw;
      height: 50vh;
      padding-top: 20vh;
      
    }
    .cont-5 img{
      background-color: black;
      position: relative;
      width: 30vw;
      height: 50vh;
      padding-top: 20vh;
      
    }
    .cont-6 img{
      background-color: black;
      position: relative;
      width: 40vw;
      height: 60vh;
      padding-top: 20vh;
      
    }
    .cont-7 img{
      background-color: black;
      position: relative;
      width: 30vw;
      height: 50vh;
      padding-top: 20vh;
      
    }
    .cont-7 h1{
      font-size: 30px;
    }
  }
  @media(min-width:412px){
    .cont h4{
     margin-top: 20px;
      opacity: 70%;
    }
    .cont-2 h1{
      padding-top: 10vh;
     }
     .cont-1 h1{
      padding-top: 10vh;
    }
    .cont-3 h1{
      padding-top: 60vh;
    }
    .cont-4 img{
      background-color: black;
      position: relative;
      width: 30vw;
      height: 50vh;
      padding-top: 20vh;
      
    }
    .cont-5 img{
      background-color: black;
      position: relative;
      width: 50vw;
      height: 70vh;
      padding-top: 20vh;
      
    }
    .cont-6 img{
      background-color: black;
      position: relative;
      width: 50vw;
      height: 70vh;
      padding-top: 20vh;
      
    }
    .cont-7 img{
      background-color: black;
      position: relative;
      width: 30vw;
      height: 50vh;
      padding-top: 20vh;
      
    }
  }
